@import "./scss-variables.scss";

.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  border: 1px solid $black;
  width: 100%;
  height: 100px;
  background-color: #282828;
  padding: 20px;

  &__left {
    flex: 0.3;
    display: flex;
    align-items: center;
    color: white;
    max-width: 300px;

    h4 {
      margin-bottom: 5px;
    }

    p {
      font-size: 12px;
    }
  }

  &__albumLogo {
    height: 60px;
    width: 60px;
    object-fit: contain;
    margin-right: 20px;
  }

  &__center {
    flex: 0.4;
    padding: 0 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 450px;

    .footer__icon:hover {
      fill: #1ed15e;
      transform: scale(1.2);
      transition: transform 0.2s ease-in;
    }
  }

  &__right {
    flex: 0.3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;

    .MuiGrid-item {
      display: flex;
      align-items: center;
    }
  }

  &__green {
    color: #1ed15e;
  }
}
