@import "./scss-variables.scss";

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $black;

  > img {
    width: 192px;
  }

  h1 {
    color: white;
    margin-bottom: 30px;
  }

  a {
    padding: 20px 30px;
    border-radius: 50px;
    background-color: #1aa34a;
    color: white;
    font-weight: 800;
    text-decoration: none;
    margin-bottom: 20px;

    transition-property: background-color;
    transition-duration: 0.3s;

    &:hover {
      background-color: #1ed760;
    }

    &:active {
      background-color: #1aa34a;
    }

    &f:focus {
      background-color: #1aa34a;
    }
  }
}
