.sidebarOption {
  display: flex;
  align-items: center;
  color: grey;
  height: 40px;
  cursor: default;
  transition: 160ms color ease-in;

  &:hover {
    color: white;
  }

  &__icon {
    margin: 0 10px;
  }

  p {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 14px;
  }
}
